<button mat-raised-button color="primary" *ngIf="canConfigure()" (click)="toggleMode()">Mode: {{ mode }}</button>
<div id="main">
  <div class="leftSide">
    <h3 class="welcome-header">Welcome</h3>
    <h1>{{ organizationName }}</h1>
    <h3 class="welcome-message">We're thrilled to have {{organizationName}} as we embark on customizing the modules you have chosen to suit your compani's unique needs. Throught this wizard, you'll have the opportunity to define user roles, set up workflows, and much more.</h3>
  </div>
  <div class="rightSide">
      
    <h1 style="margin-top: 24px;">Modules Available:</h1>
    <mat-card class="cardContainer-card">
      <app-show-selected-cards></app-show-selected-cards>
    </mat-card>
  </div>
</div>