<mat-tab-group [selectedIndex]="selectedIndex">
  @for (module of modules; track module; let idx=$index)
  {
  @if (module.checked) {
  <mat-tab label="{{ module.name }}">
    <ng-template matTabContent>
      @if (module.name === 'Customer Relationship Management') {
      <app-customer-relationship-management-config></app-customer-relationship-management-config>
      } @else if (module.name === 'Customer Relationship Management (CRM)') {
      <app-lead-management-config></app-lead-management-config>
      } @else if (module.name === 'Travel Management') {
      <app-travel-management-config></app-travel-management-config>
      }
    </ng-template>
  </mat-tab>
  }
  @else {
  <mat-tab label="{{ module.name }}" disabled> Content for {{ module.name }} </mat-tab>
  }
  }
</mat-tab-group>