<mat-tab-group [selectedIndex]="selectedIndex">
  @for (module of modules; track module; let idx=$index)
  {
  @if (module.checked) {
  <mat-tab label="{{ module.name }}">
    <ng-template matTabContent>
      @if (module.id === 1) {
        <app-customer-relationship-management-config
        [submodules]="permissionsData.module.submodules"
        [selectedSubModules]="permissionsData.module.selectedSubmodules"
        [roles]="permissionsData.roles"
        [permissions]="permissionsData.rolesAndPermissions"
        (updateSelectedSubmodulesEvent)="updateSelectedSubmodules($event)"
        (updatePermissionsEvent)="updatePermissions($event.role, $event.selectedRolePermissions)"
      ></app-customer-relationship-management-config>
      } @else {
        <div style="text-align: center; margin-top: 50px;">
          <h1 style="font-size: 2em; color: #ff6347;">
            🚧 Under Construction 🚧
          </h1>
          <p style="font-size: 1.5em; color: #808080;">
            <strong>This Configure page is still on the drawing board.</strong>
          </p>
          <p style="font-size: 1.5em; color: #808080;">
            In the meantime, why not take a trip to our CRM? 🚀
          </p>
        </div>
      }
    </ng-template>
  </mat-tab>
  }
  @else {
  <mat-tab label="{{ module.name }}" disabled> Content for {{ module.name }} </mat-tab>
  }
  }
</mat-tab-group>