<mat-card class="main-card">
    <h1 mat-dialog-title>Enter your information</h1>
<mat-dialog-content>
    <div class="container">
        <img src="4.png" alt="no photo" class="logo">
  <form [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field class="email-place">
        <mat-label>Your Name</mat-label>
        <input type="text" matInput formControlName="name" placeholder="Avarage Joe">
        <mat-icon matSuffix>person</mat-icon>
        <mat-hint><strong>Name is mandatory</strong></mat-hint>
        <mat-error *ngIf="form.controls['name'].hasError('required')">
          First Name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.controls['name'].hasError('minlength')">
          Minimum length is 3 characters
        </mat-error>
        <mat-error *ngIf="form.controls['name'].hasError('maxlength')">
          Maximum length is 15 characters
        </mat-error>
      </mat-form-field>
      <mat-form-field class="email-place">
        <mat-label>Your Contact Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="myemail@example.com">
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint><strong>Activation Link will be sent on this email</strong> </mat-hint>
        <mat-error *ngIf="form.controls['email'].hasError('email')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="form.controls['email'].hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="email-place">
        <mat-label>Organization Name</mat-label>
        <input type="text" matInput formControlName="organizationName" placeholder="xyz private limited">
        <mat-hint><strong>Organization Name is mandatory</strong></mat-hint>
        <mat-error *ngIf="form.controls['organizationName'].hasError('required')">
          First Name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.controls['organizationName'].hasError('minlength')">
          Minimum length is 3 characters
        </mat-error>
        <mat-error *ngIf="form.controls['organizationName'].hasError('maxlength')">
          Maximum length is 15 characters
        </mat-error>
      </mat-form-field>
    <mat-form-field class="email-place">
        <mat-label>Your contact Mobile Number</mat-label>
        <input type="tel" matInput formControlName="mobile" placeholder="1234567890">
        <mat-icon matSuffix>phone</mat-icon>
        <mat-hint><strong>Mobile Number is mandatory</strong></mat-hint>
        <mat-error *ngIf="form.controls['phoneNumber'].hasError('required')">
          Mobile Number is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.controls['phoneNumber'].hasError('pattern')">
          Please enter a valid mobile number (10 digits)
        </mat-error>
      </mat-form-field>
  </form>
</div>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-button (click)="save()" [disabled]="!form.valid">Save</button>
</div>

</mat-card>
