<link rel="Stylesheet" href="dialog-register-organization.component.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Foundation:wght@400..700&family=Teko:wght@300..700&family=Tilt+Neon&display=swap" rel="stylesheet">

<div class="form">
<h1 mat-dialog-title style="margin-top: 5px; display: flex; justify-content: center; align-items: center;">Enter Your Information</h1>
<mat-dialog-content>
    <div class="container">
        <img src="./Logo1.png" alt="SynchoSPHERE" class="logo">
        <form [formGroup]="form" (ngSubmit)="save()">
            <mat-form-field class="email-place">
                <mat-label>Your Name</mat-label>
                <input type="text" matInput formControlName="name" placeholder="Avarage Joe">
                <mat-icon matSuffix>person</mat-icon>
                <mat-hint><strong>Name is mandatory</strong></mat-hint>
                <mat-error *ngIf="form.controls['name'].hasError('required')">
                    First Name is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="form.controls['name'].hasError('minlength')">
                    Minimum length is 3 characters
                </mat-error>
                <mat-error *ngIf="form.controls['name'].hasError('maxlength')">
                    Maximum length is 15 characters
                </mat-error>
            </mat-form-field>
            <mat-form-field class="email-place">
                <mat-label>Your Contact Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="myemail@example.com">
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint><strong>Activation Link will be sent on this email</strong> </mat-hint>
                <mat-error *ngIf="form.controls['email'].hasError('email')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="form.controls['email'].hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="email-place">
                <mat-label>Organization Name</mat-label>
                <input type="text" matInput formControlName="organizationName" placeholder="xyz private limited">
                <mat-hint><strong>Organization Name is mandatory</strong></mat-hint>
                <mat-error *ngIf="form.controls['organizationName'].hasError('required')">
                    First Name is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="form.controls['organizationName'].hasError('minlength')">
                    Minimum length is 3 characters
                </mat-error>
                <mat-error *ngIf="form.controls['organizationName'].hasError('maxlength')">
                    Maximum length is 15 characters
                </mat-error>
            </mat-form-field>
            <mat-form-field class="email-place">
                <mat-label>Your contact Mobile Number</mat-label>
                <input type="tel" matInput formControlName="phoneNumber" placeholder="1234567890">
                <mat-icon matSuffix>phone</mat-icon>
                <mat-hint><strong>Mobile Number is mandatory</strong></mat-hint>
                <mat-error *ngIf="form.controls['phoneNumber'].hasError('required')">
                    Mobile Number is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="form.controls['phoneNumber'].hasError('pattern')">
                    Please enter a valid mobile number (10 digits)
                </mat-error>
            </mat-form-field>
        </form>
    </div>
</mat-dialog-content>
<div mat-dialog-actions>
    <div style="display: flex; justify-content: space-between;
    align-items: center; margin: 20px;">
     <button mat-button (click)="dialogRef.close()"
     style=" border-radius: 20px;
     padding: 10px 20px;
     color: white;
     background-color: #0c3455;
     border: none;
     cursor: pointer;
     transition: background-color 0.3s ease;
     
     &:hover
     {background-color: #b1d7fa; 
      color: black;}">
     Cancel
 </button>
 
 <button mat-button (click)="save()" [disabled]="!form.valid">
     Save
 </button>
 
    </div>

</div>
</div>