<!-- thank-you.component.html -->
<div class="thank-you-container">
    <h1>Thank you for choosing SynchroSphere!</h1>
    <p class="subtitle">Your journey to streamlined business management starts here.</p>
    <mat-card class="content-card">
      <img src="../../../assets/Logo1.png" alt="SynchroSphere Logo" class="logo">
      <h2>
        Thank You for Registering!
        <mat-icon class="check-circle" aria-hidden="false" aria-label="Check circle">check_circle</mat-icon>
      </h2>
      
      <h3>
        We appreciate your interest in our services! Our representative will be in touch shortly through the email or phone number you provided to confirm your registration and activate your account.
      </h3>
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="goToHome()">HOME</button>
      </div>
      
    </mat-card>
  </div>
  