
<div id="main">
  <div class="container">
<h3 class="welcome-header">Welcome</h3>
<h1>{{ organizationName }}!</h1>
<p class="module-selection">You have selected the following modules:</p>
</div>
<div class="info">
<div class="module-cards">
  <mat-card *ngFor="let module of modules; index as i" class="example-card" (click)="getStarted()">
    <mat-card-content>
      <p>{{ module.name }}</p>
    </mat-card-content>
  </mat-card>
</div>
<p class="config-instruction">Start configuring the module for your organizational needs...</p>
<div class="button1">
<button mat-raised-button color="primary" class="get-started-button" (click)="getStarted()" >Get Started</button></div>
</div>
</div>