<div class="landing">
  <div class="content">
    <h1>Welcome to Synchro-SPHERE</h1>
    <p>One Stop Destination for Enterprise Resource Planning</p>
  </div>
  <div class="glassmorphism-box">
    <section class="example-section">
      <span class="example-list-section">
        <mat-checkbox class="checkbox-list" [checked]="allComplete" [indeterminate]="someComplete()"
          (change)="setAll($event.checked)" style="color: white; font-weight: bold;">
          <span class="mat-checkbox-label">All Component</span>
        </mat-checkbox>
      </span>
      <span class="example-list-section">
        <ul class="checkbox-list">
          <li *ngFor="let module of modules" class="checkbox-item">
            <mat-checkbox [(ngModel)]="module.checked" (ngModelChange)="updateAllComplete()">
              <span class="mat-checkbox-label">{{ module.name }}</span>
            </mat-checkbox>
          </li>
        </ul>
        
      </span>
    </section>
  </div>
  <button mat-raised-button color="primary" (click)="confirm()">Confirm Choices</button>
</div>