/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400&display=swap');

/* Global styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0; /* Set a light background color */
}

/* Landing page container */
.landing {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.9)), url('../../assets/bg.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 20px;
}

/* Content inside landing page */
.content {
  text-align: center;
  margin-bottom: 40px;
}

.content h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 65px;
  margin-top: 0;
  line-height: 0.8;
}

.content p {
  font-size: 20px;
}

/* Glassmorphism box styling */
.glassmorphism-box {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 10px;
  width: 80%;
  max-width: 800px;
  min-width: 400px;
  margin-bottom: 20px;
}

/* Checkbox section styling */
.example-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.example-list-section {
  width: 48%; /* Adjust to 48% to allow space for spacing between checkboxes */
}

.example-list-section .checkbox-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.checkbox-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Checkbox styling */
.mat-checkbox-frame {
  border-color: white !important; /* Set checkbox border color to white */
}

.mat-checkbox-checked .mat-checkbox-background {
  border-color: white !important; /* Set checked state checkbox border color to white */
}

.mat-checkbox-label {
  color: white; 
  margin-right: 10px;
}


/* Button styling */
mat-form-field {
  width: 100%;
  max-width: 400px;
  margin-bottom: 30px;
}

button {
  width: 225x;
  border-radius: 8px;
  background-color: #1e90ff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: white;
  color: black;
}
 /*NAV BAR*/
 .navbar {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 10px;
  width: 100%;
  min-width: 400px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}
