<section class="example-section">
    <span class="example-list-section">
        <mat-checkbox class="example-margin" [checked]="allComplete"
            [indeterminate]="someComplete()" (change)="setAll($event.checked)">
            All Components
        </mat-checkbox>
    </span>
    <span class="example-list-section">
        <ul>
            <li *ngFor="let module of modules">
                <mat-checkbox [(ngModel)]="module.checked"
                    (ngModelChange)="updateAllComplete()">
                    {{module.name}}
                </mat-checkbox>
            </li>
        </ul>
    </span>
</section>
<mat-form-field appearance="fill">
    <mat-label>Organization Name</mat-label>
    <input matInput [(ngModel)]="organizationName" placeholder="Enter organization name">
  </mat-form-field>
<button mat-raised-button color="primary" (click)="confirm()">Confirm</button>
