
  .example-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
  }
  
  .example-list-section {
    width: 50%;
  }
  
  .example-margin {
    margin: 0 8px;
  }
  
  mat-form-field {
    width: 400px;
    margin-bottom: 16px;
  }
  
  button {
    display: block;
    margin: 0 auto;
  }
  