<div class="card-container">
<ng-container *ngFor="let module of modules; let i = index">
  <mat-card class="module-card" 
            [class.disabled]="!module.clickable"
            matRipple
            (click)="selectModule(module)"
             [ngStyle]="{'background': hoveredModule === module ? getHoverBackground(module) : getBackgroundImage(module)}"
            (mouseenter)="hoveredModule = module"
            (mouseleave)="hoveredModule = null">
    <mat-card-header>
      
      <p style="font-size: 26px;line-height: 1.05;">
        <b>{{ module.name }}</b>
      </p>
    </mat-card-header>
  </mat-card>
</ng-container>
</div>
